	body{		
		background-image: url("../images/background.jpg");
		background-color: black;
		background-repeat: no-repeat;
		background-size: cover;	
			}
	
	.addTrain {
		color:whitesmoke;
		
			}

	input[type=text] {
			background-color:lightgray;
			color: black;
			}
	
	#submit {
			color:black;
			}
	#tableTitle {
			color: white;
			}

	#table {
			background-color: lightgray;
			}
	#trainSchedule{
		background-color:lightgray;
		color:black;
	}

	.trainTable{
		
	}
	
	 
        /* Small Devices */
        @media screen and (max-width : 360px) {
            .container {
                width: 100%;
            }

            .main-section {
                width: 100%;
            }
        }